<Layouts.app flash={@flash}>
  <div
    id="wardley-map"
    class="fixed inset-0 top-14 bg-slate-50 dark:bg-slate-950"
  >
    <div class="h-full w-full flex">
      <.layer_editor_panel />
      <!-- Map Canvas (Three.js) -->
      <div
        id="map-canvas"
        class="relative flex-1"
      >
      </div>
      <.node_details_panel />
    </div>
    <.map_overlay />
  </div>
  <.coaching_modal />
</Layouts.app>
